:root {
    --primary-color: #245eca;
    --dark-color: #333;
    --light-color: #ddd;
    --accent-color: steelblue;
    --white-color: white;
    --black-color: #000;
    --shadow-color: gray;
    --border-color: rgb(0 0 0 / 0.2);
    --base-spacing: 1rem;
    --base-font-size: 20px;

    header {
        background-color: var(--primary-color);
        padding: 4px;
    }

    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--dark-color);
    }

    nav a {
        color: var(--white-color);
        padding: 10px;
        display: block;
    }

    main {
        max-width: 840px;
    }

    main img {
        width: 150px;
        height: auto;
        border: 1px solid var(--accent-color);
        padding: 2px;
        box-shadow: 0 0 30px var(--shadow-color);
    }

    h1 {
        color: var(--accent-color);
    }

    body {
        font-size: var(--base-font-size);
        margin: var(--base-spacing);
    }

    aside {
        width: 20rem;
        margin: var(--base-spacing) auto;
        border: 1px solid var(--border-color);
        padding: var(--base-spacing);
        background-color: var(--light-color);
        color: var(--dark-color);
        text-align: center;
    }

    aside img {
        width: 200px;
        height: auto;
    }

    p {
        padding: 0;
    }

    footer {
        margin-top: 15px;
        border-top: 1px solid var(--black-color);
        text-align: center;
    }